<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hola</h1>
    <% 100.times do |i| %>
       <h1> <%= i%2 == 0 ? "#{i} soy par" : "#{i} soy impar" %> </h1>
       <% end %>
  </body>
</html>
