<h1>Blog</h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Content</th>
		</tr>
	</thead>
	<tbody>
		<% @blogs.each do |blog| %>
			<tr>
				<td><%= blog.title %></td>
				<td><%= blog.content %></td>
			</tr>
		<% end %>
	</tbody>
</table>
